name: Get JOB ID
on: [push]

jobs:
    get-current-job-id:
        runs-on: [ubuntu-latest]
        steps:
            - name: Echo the current run ID
              run: 'echo "Run ID: ${{ github.run_id }}"'
            - name: Get current Job ID
              run: |
                  jobs=$(curl -s -H "Authorization Bearer ${{ secrets.GITHUB_TOKEN }}" \
                      "https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs")
                  echo ${jobs}

    get-current-job-id-2:
        runs-on: [ubuntu-latest]
        steps:
            - name: Echo the current run ID
              run: 'echo "Run ID: ${{ github.run_id }}"'
            - name: Get current Job ID
              run: |
                  jobs=$(curl -s -H "Authorization Bearer ${{ secrets.GITHUB_TOKEN }}" \
                      "https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs")
                  echo ${jobs}

    get-current-job-id-3:
        runs-on: [ubuntu-latest]
        steps:
            - name: Echo the current run ID
              run: 'echo "Run ID: ${{ github.run_id }}"'
            - name: Get current Job ID
              run: |
                  jobs=$(curl -s -H "Authorization Bearer ${{ secrets.GITHUB_TOKEN }}" \
                      "https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs")
                  echo ${jobs}
